* {
    margin: 0;
    padding: 0;
    outline: none;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 480px;
}
body {
    font-family: 'Microsoft YaHei', '黑体', 'Tahoma', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
    background: #fff;
    font-size: 1rem;
    color: #333333;
    min-height: 100%;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
    display: block;
}
a {
    display: block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}
em {
    font-style: normal;
}
footer,
header,
section {
    display: block;
}
section {
    min-width: 480px;
    margin: 0 auto;
    width: 100%;
}
input,
select {
    display: inline-block;
    background: transparent;
    border: none;
    vertical-align: middle;
    color: #333;
    width: 100%;
    border: 1px solid #c2c2c2;
}
input::-webkit-input-placeholder,
select::-webkit-select-placeholder {
    color: #C2C2C2;
}

#app {
    width: 100%;
    padding: 10% 0;
    .jiujiu {
        .line {
            margin-bottom: 0.2rem;
            span{
                border: 1px solid #c2c2c2;
                border-radius: 0.5rem;
                margin-right: 0.2rem;
                // padding: 0.2rem 1rem;
                padding: 0.1rem;
                display: inline-block;
                font-size: 0.6rem;
            }
            span:last-child {
                margin-right: 0;
            }
        }
        .line:last-child {
            margin-bottom: 0;
        }
    }
    .calculator {
        text-align: center;
        padding: 0.5rem 0;
        border: 1px solid #c2c2c2;
        border-radius: 1rem;
        display: block;
        width: 15rem;
        // margin-top: 1rem;
        margin: 1rem calc((100% - 18rem) / 2);
        font-size: 0.8rem;

        p.title {
            font-size: 1.5rem;
        }
        p.result {
            border: 1px solid #c2c2c2;
            margin: 0.5rem 1rem;
            font-size: 2rem;
            // width: 17.8rem;
            display: block;
            word-wrap: break-word;
            word-break: normal;
            border-radius: 0.5rem;
            padding: 0 0.2rem;

            span {
                display: block;
                text-align: right;
                width: 100%;
            }
            span.calculator_expression {

            }
            span.calculator_result {

            }
        }
        .line {
            margin-bottom: 0.5rem;
            span{
                background-color: #C9C9C9;
                padding: 0.5rem 0;
                display: inline-block;
                width: 3rem;
                text-align: center;
                margin-right: 0.4rem;
                border-radius: 0.3rem;
            }
            span:last-child {
                margin-right: 0;
            }
        }
        .line:last-child {
            margin-bottom: 0;
        }
    }
    .translation {
        display: block;
        min-height: 10rem;
        border: 1px solid #c2c2c2;
        border-radius: 1rem;
        margin-top: 1rem;
    }
    .menu {
        display: block;
        position: fixed;
        bottom: 0;
        padding: 0.5rem 0;
        background-color: transparent;
        text-align: center;
        width: 100%;
        span {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: red;
            color: #fff;
            text-align: center;
            font-size: 0.8rem;
            padding-top: 0.5rem;
        }
        span.active {
            box-shadow: 0 2px 7px rgba(0, 0, 0, 0.75);
        }
    }
}
